body {
    background-color: whitesmoke;
    font-family:'Times New Roman', Times, serif;
    color: black;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    font-size: 12px;
    margin: 0;
    /* align-items: center; */

    
}

div{
    display: flex;
    /* margin: 10px; */
    /* background-color: rgb(39, 28, 255); */
}

a {
    text-decoration: none;
    color: black;
}

    .titleblock {
        display:flex;
        flex-direction:column;
        background-color: rgb(0, 88, 183);
        
    }

        .header-top {
            display: flex;
            
            /* border: 1pxS solid black; */
            justify-content: space-between;
            padding:0 15px;
            height: 100px;
            align-items: center;
            color: white;
  
        }

            .header-top > h1 {
                justify-content: center;
                align-items: center;
                font-size: 20px;
                padding-right:10px;
                padding-left: 20px
            }

            .header-top > .companyname {
                font-size: 40px;
                border-left: 5px solid white;
                border-right: 5px solid white;
                border-radius: 5px;
                flex-shrink: 0;
                
                padding-left: clamp(0px, 50%, 15px);
                padding-right: clamp(0px, 50%, 15px);
                display: block;
                
            }

            .headerlinks {
                /* border: 1px solid black; */
                display:inline-flex;
                align-items: center;
                justify-content: space-evenly;
                border-radius: 10px;
                flex:0 0 auto;
                padding-left: 10px;
                
                
                
            }
                a.upperlinks {
                    padding: 8px;
                    flex: 0 0 0;
                    color: white;
                    font-size: 15px;
                    
                    
                }

        .header-body {
            display: flex;
            margin: 0px 20px 20px 20px;
            justify-content: center;
            flex-wrap: wrap;
            padding:20px;
            background-color: whitesmoke;
        }
        
            .header-body > div {
                display: flex;
                flex-direction: column;
                max-width: 30vh ;
                align-items: left;
                justify-content: center;
                padding-right: 10%;
            
            }

            .header-body > div > h3 {
                font-size: 40px;
                text-align: left;
                margin-bottom: 0;
                

            }

            .header-body > div > p {
                text-align: left;
                font-size: 15px;
                margin-bottom: 10px
                
            }

            .header-body > div > button {
                border-radius: 10px;
                border-style: solid;
                border-color: white;
                padding: 6px;
                background-color: rgb(105, 170, 255);
                width: 10em;
                text-align: center;
            }

            .header-body > img {
                width: 300px;
                height: auto;
                box-shadow: 5px 5px 3px rgba(0, 0, 0, 0.385);
                border-radius: 25px;
                margin: 20px;
            }

    .informationblock {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-between;
        background-color: rgb(0, 88, 183);
        
         
        /* align-items: center; */
        /* align-content: center; */
    }
        .informationblock > div {
            justify-content: center;
            background-color: whitesmoke;
            margin: 0px 20px;
            
        }

        .informationblock > div > h3 {
            text-align: center;
            padding: 10px;
            font-size: 25px;
            
        }

        .informationblock > .servicesprovided {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            padding:10px 20px;
            /* border:1px solid black; */
            flex: 1;
        }

            .informationblock > .servicesprovided > div {
                display: flex;
                justify-content: center;
                flex-direction: column;
                text-align: center;
                max-width: 200px;
                height: auto;
                margin: 30px;
                
                
            }

            .informationblock > .servicesprovided > div > * {
                /* margin-bottom: 10px; */
                font-size: 20px;

            }

            .informationblock > .servicesprovided > div > p {
                margin: 0px 20px 20px 20px;
                font-size: 15px;
            }

            .informationblock > .servicesprovided > div > img {
                width: 200px;
                height: 200px;
                object-fit: cover;
                object-position: 25% 25%;
                border-radius: 5px;
                border: 5px solid rgb(0, 88, 183);
                
            }

    .testimonialblock {
        display: flex;
        justify-content: center;
        /* align-items: center; */
        flex-direction: column;
        background-color: rgb(222, 222, 222);
        padding: 80px 20%;
        width: auto;
        border-width: 20px 0 0 0;
        border-style: solid;
        border-color: rgb(0, 88, 183);
        
    }

        .testimonialblock > p {
            /* max-width: 40%; */
            font-size: 20px;
            margin: 5px;
            
            
            
        }

        .testimonialblock > #quote {
            text-align: center;
        }

        .testimonialblock > #author {
            font-size: 15px;
            /* align-self: left; */
            /* align-items: left; */
            width: auto;
            text-align: right;
            margin: 0 30%;
            font-style:italic;
            
        }

    .callandsignup {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        /* flex:0 0 400px; */
        flex:1;
        margin: 10%;
        background-color: rgb(105, 170, 255);
        padding:20px 20px;
        border-radius: 20px;
        justify-content: center;
        align-items: center;
       
    }

        .callandsignup > div {
            display: flex;
            flex-direction: column;
            justify-content: center;
            font-size: 25px;
            padding: 5%;
            flex-shrink: 1;
            flex: 1;

        }

            .callandsignup > div > * {
                margin: 0;
                text-align: center;
                

                
            }

        .callandsignup > button {
            border-radius: 10px;
            /* border-style: solid; */
            /* border-color: white; */
            border-width: 0;
            padding: 20px 20px;
            background-color: rgb(255, 255, 255);
            /* height: 60px; */
            font-size: 20px;
            flex-shrink: 1;
            flex:1;
            text-align: center;
            
        }

    
    .footer {
        display: flex;
        background-color: darkgray;
        margin:0 20px;
        padding: 30px 50%;
        justify-content: center;
        align-items: center;
    }    

        .footer > * {
            margin: 0 10px;
            font-size: 15px;
            flex-shrink:0;
        }